body {
    width: 600px;
    margin: 100px auto 0 auto;
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
    line-height: 1.3;
}

div:focus {
    outline: none;
}

h1 {
    color: red;
    font-size: 3em;
    font-weight: 200;
    border-style: solid none none none;
    border-color: red;
    border-width: 4px;
}

.action {
    text-decoration: underline;
}

.action:hover {
    color: white;
    background-color: blue;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .4;
}

.popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

.popup {
    position: relative;
    width: 600px;
    margin-left: -300px;
    height: 400px;
    margin-top: -200px;
    padding: 20px;

    background-color: white;
    border: 2px solid black;
}

.popup h1 {
    border-style: none none solid none;
}

/***** Grid *****/

.row {
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 50px;
}

.cell {
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.cell .badge {
    position: relative;
}

.cell .badge > div {
    position: absolute;
    font-size: 8px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.character {
    background-color: #ddd;
    line-height: 50px;
    font-size: 40px;
    text-align: center;
}

.selected {
    background-color: blue;
    color: white;
    font-weight: bold;
}

/***** Users *****/

.user.current {
    color: white;
    background-color: blue;
    font-weight: bold;
}

